body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.sidebar {
    width: 0;
    transition: width 0.5s;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ddd;
}
.sidebar.open {
    width: 250px; /* O el ancho que prefieras para el sidebar abierto */
  }

.navbar-icon {
    font-size: 24px;
    cursor: pointer;
}

.login-icon {
    font-size: 24px;
    cursor: pointer;
    color: white; /* Establecer el color del ícono */
}

.carousel {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
}

.carousel-item {
    min-width: 60%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 20%; /* Hacer que todas las imágenes tengan el mismo ancho */
    height: 50%; 
    
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.carousel-btn-prev {
    left: 20px;
}

.carousel-btn-next {
    right: 20px;
}

.cocktail-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.cocktail-card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        margin-bottom: 10px;
    }

    .sidebar a {
        padding: 8px 16px;
    }

    .cocktail-card {
        width: 100%;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.cocktail-card {
    background-color: #e66e0c;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.search-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #ddd;
    color: #333;
}
